:root {
  --primary-color: #eab308;
  --secondary-color: #22d3ee;
  --light-bg: #f8fafc;
  --darkgreen-bg: #052e16;
  --light-text: #f1f5f9;
  --darkgreen-text: #022c22;
}

.primary-style {
  color: var(--primary-color);
}

.secondary-style {
  color: var(--secondary-color);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {}

/* small  */
@media (min-width: 640px) {}

/* md  */
@media (min-width: 768px) {}
/* lg  */
@media (min-width: 1024px) {}
/* xl  */
@media (min-width: 1280px) {}
/* 2xl  */
@media (min-width: 1536px) {}